/* HTML5 display-role reset for older browsers */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
html {
  font-family: "Roboto", sans-serif;
  color: black;
  scroll-behavior: smooth;
  font-weight: 300;
  font-size: 18px;
  word-break: break-word;
}
strong {
  font-weight: 700;
}

b {
  font-weight: 500;
}
h1 {
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  margin: 15px 0px;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: 500;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-weight: 600;
}
h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
button {
  display: inline-block;
  margin: 0px 70px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 17px;
  padding: 20px 50px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition: 0.3s ease;
  -webkit-transition: all 0.3s;
}
button:hover {
  -webkit-box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease;
  -webkit-transition: all 0.3s;
}
.section-title {
  text-align: center;
  padding-bottom: 40px;
}

.outer-container {
  max-width: 1200px;
  margin: auto;
}
section {
  padding: 60px 0px 60px 0px;
}
section.grey {
  background-color: #ebebeb;
}
.under-title {
  height: 30px;
}

/*--------------------------------------------------------- SPACE-BETWEEN */
.space-between {
  text-align: justify;
}
.space-between:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.space-between .item {
  display: inline-block;
}

/* CENTER */
.center {
  display: table;
  width: 100%;
}

.center .c-item {
  display: table-cell;
  vertical-align: middle;
}

/*------------------------------------------------------------------ MENU */

nav {
  position: fixed;
  color: #ffb8b8;
  z-index: 9999;
  padding: 15px 0px;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
}

nav ul {
  width: 1200px;
  text-align: right;
  margin: auto;
}

nav li {
  display: inline-block;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding-left: 40px;
  cursor: pointer;
}

nav li a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #d91324;
}

/*------------------------------------------------------------ MOBILE MENU */

#mobile-nav {
  display: none;
  position: fixed;
  z-index: 9999;
}

#menu-buttons {
  position: fixed;
  top: 0;
  right: 0;
  color: #ffb8b8;
  font-size: 2em;
  width: 40px;
  margin: 15px 15px;
  text-align: center;
  z-index: 1;
}

#cross {
  display: none;
}

#menu {
  display: none;
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  position: fixed;
  z-index: 0;
  width: 100%;
  top: 0;
  left: 0;
}

#menu ul {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding: 50px 0px;
  vertical-align: middle;
}

#menu ul li {
  padding: 20px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#menu ul li:last-child {
  border-bottom: 0px;
}

#menu ul li a {
  color: #ffb8b8;
  text-decoration: none;
}

/* ----------------------------------------------------------------------------------HOMEPAGE */

.parallax-outer {
  height: 55vh;
}

.parallax {
  background-image: url("../img/photo-home5.avif");
  height: 100%;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#homepage {
  bottom: 70px;
  position: absolute;
  left: 50%;
  width: 1200px;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}

header {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 39px;
  font-weight: 300;
  font-style: italic;
}

#header-text {
  font-size: 25px;
  font-weight: 300;
  margin: 70px 0px 110px 0px;
}

.skill-box {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
}
.skill-box i {
  display: block;
  font-size: 70px;
  margin-bottom: 30px;
  transition: 0.3s ease;
  -webkit-transition: all 0.3s;
}
.skill-box i:hover {
  transition: 0.3s ease;
  -webkit-transition: all 0.3s;
}

.skill-box .fa-code:hover {
  color: #9b59b6;
}
.skill-box .fa-database:hover {
  color: #3498db;
}
.skill-box .fa-mobile-alt:hover {
  color: #e74c3c;
}
.skill-box .fa-pencil-ruler:hover {
  color: #2ecc71;
}
.skill-box .fa-globe:hover {
  color: #f1c40f;
}

.skill-box .fa-edit:hover {
  color: #f1c40f;
}

/*------------------------------------------------------------------------------------- ABOUT */

.box1 {
  width: 370px;
}
.box1 p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 15px;
  padding-top: 10px;
  line-height: 30px;
}

.img-container {
  position: relative;
}

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s ease;
}

.img-container:hover .img-overlay {
  opacity: 1;
}

.box2 {
  vertical-align: top;
  width: 755px;
}
.box2 h2 {
  padding-bottom: 25px;
}
.box2 p {
  padding: 10px 0px;
  line-height: 30px;
}

.box3 {
  display: none;
}

#buttons-container {
  margin-top: 40px;
  text-align: center;
}

button#cont {
  background-color: #3fa8fd;
}
button#cv {
  background-color: #2fdc9c;
}

/* --------------------------------------------------------------------------------SKILLS */

#skills {
  overflow: hidden;
}

#skills .skill {
  margin-bottom: 40px;
}

#skills .skill .c-item.content {
  padding: 25px 40px 0px;
  font-size: 16px;
  background-color: white;
  line-height: 26px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
  width: 65%;
}

#skills .c-item.icon {
  font-size: 140px;
  width: 27%;
  text-align: center;
}

#skills .front {
  color: black;
}
#skills .back {
  color: #3498db;
}
#skills .cms {
  color: #e67e22;
}
#skills .design {
  color: #2ecc71;
}
#skills .env {
  color: #95a5a6;
}
#skills .auto {
  color: #f1c40f;
}

#skills h4 {
  font-size: 22px;
  margin-bottom: 10px;
}

#skills .content .item.desc {
  margin-bottom: 20px;
}

#skills .content .item.desc.end {
  margin-bottom: 30px;
  line-height: 35px;
}

#skills .content .item.desc.end i {
  width: 25px;
}

#skills .content .el {
  line-height: 30px;
  width: 46%;
}

#skills .space-between {
  margin-bottom: -13px;
}

#skills .space-between .item {
  vertical-align: top;
}

#skills .space-between .item.names {
  font-weight: 500;
}

#skills #front-end .space-between .item {
  color: #9b59b6;
}

#skills #back-end .space-between .item {
  color: #3498db;
}

#skills #cms .space-between .item {
  color: #e67e22;
}

#skills #web-design .space-between .item {
  color: #2ecc71;
}

/* ----------------------------------------------------------------------------------------EXPERIENCE */

#timeline {
  position: relative;
  max-width: 100%;
  margin-left: 0 auto;
  margin-top: 40px;
  animation-delay: 0.5s;
}

#timeline::after {
  content: "";
  position: absolute;
  width: 5px;
  background-color: #ebebeb;
  top: 0;
  bottom: 0;
  left: 190px;
}

.event {
  position: relative;
  width: inherit;
}

.event .left {
  position: absolute;
  top: calc(50% - 30px);
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  line-height: 20px;
  width: 132px;
}

.event h3 {
  padding-bottom: 10px;
}

.event .place {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 500;
  padding-bottom: 25px;
}

.event h3 i {
  width: 45px;
}

.event.work h3 {
  color: #3498db;
}
.event.exp h3 {
  color: #e67e22;
}
.event.school h3 {
  color: #2ecc71;
}

.event .right {
  padding: 20px 0px 40px;
  position: relative;
  background-color: inherit;
  margin-left: 290px;
}

.event .right::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #ebebeb;
  top: calc(50% - 12px);
  border-radius: 50%;
  z-index: 1;
}

.event .right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: calc(50% - 10px);
  width: 0;
  z-index: 1;
  left: -10px;
  border: medium solid #ebebeb;
  border-width: 10px 10px 10px 0;
  border-color: transparent #ebebeb transparent transparent;
}

.event .right::after {
  left: -110px;
}

.event .right .content {
  padding: 30px 40px 20px 40px;
  font-size: 16px;
  background-color: #ebebeb;
  position: relative;
  line-height: 26px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
}

#timeline .event .right .date {
  display: none;
  text-align: left;
  padding-bottom: 5px;
  font-family: "Montserrat", sans-serif;
}

#experience li {
  padding-bottom: 10px;
}

#experience li:before {
  padding-right: 10px;
}

/*------------------------------------------------------------------------------------------------- PROJECTS */

.project {
  position: relative;
  width: 575px;
  height: 402px;
  background-color: white;
  margin-top: 40px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
}

.project:hover .overlay {
  height: 100%;
  transition: all 0.5s;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-transition: all 0.5s;
}

.image-box {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 326px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.image-box:after {
  content: "\A";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

#projet1 .image-box {
  background-image: url("../img/ledor.png");
}

#projet2 .image-box {
  background-image: url("../img/florette.png");
}

#projet3 .image-box {
  background-image: url("");
}

#projet4 .image-box {
  background-image: url("");
}

#projet5 .image-box {
  background-image: url("");
}

#projet6 .image-box {
  background-image: url("");
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 100%;
  height: 76px;
  transition: 0.5s ease;
  -webkit-transition: all 0.5s;
  -webkit-border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.overlay .text {
  text-align: center;
  padding-top: 30px;
  height: 100%;
}

#projects ul.tags {
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  margin-top: 25px;
}

#projects .tags li {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  background-color: #ffb8b8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#projects ul.desc {
  margin: 20px 30px;
  height: 170px;
  font-size: 15px;
  line-height: 25px;
  text-align: left;
  overflow: auto;
}

#projects .desc li:before {
  padding-right: 10px;
}

#projects button {
  margin: 0px;
  font-size: 15px;
  padding: 12px 30px;
  background-color: #2fdc9c;
}

#projects button i {
  padding-left: 15px;
}

.contact-subtitle {
  text-align: center;
  margin: 10px 0px 70px;
  line-height: 50px;
}

.contact-box {
  width: 24%;
  text-align: center;
  padding: 30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.contact-box .text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.contact-box i {
  font-size: 60px;
  padding-bottom: 30px;
}

.phone {
  background-color: #efe5f3;
  color: #9b59b6;
}

.email {
  background-color: #e0eff9;
  color: #3498db;
}

.meet {
  background-color: #dff7e9;
  color: #2ecc71;
  line-height: 25px;
}
.meet p {
  color: #707070;
  padding-top: 20px;
  line-height: 23px;
}

/*----------------------------------------------------------------------------------------- FOOTER */

footer {
  background-color: #292929;
  color: white;
  font-size: 13px;
  text-align: center;
  padding: 25px;
  line-height: 20px;
}

footer i {
  font-size: 21px;
  margin: 0px 10px 15px;
  padding: 10px 0px;
  width: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  cursor: pointer;
  color: white;
  transition: 0.5s ease;
  -webkit-transition: all 0.5s;
}

footer i:hover {
  background-color: #292929;
  transition: 0.5s ease;
  -webkit-transition: all 0.5s;
}

footer .fa-linkedin-in {
  background-color: #007bb6;
}

footer .fas fa-download {
  background-color: darkred;
}
@media screen and (max-width: 1300px) {
  nav ul {
    width: auto;
    margin-right: 40px;
  }

  #homepage {
    width: 85%;
  }

  header {
    font-size: 33px;
  }

  .outer-container {
    max-width: 85%;
  }

  .box1 {
    width: 30%;
  }

  .box2 {
    width: 65%;
  }

  .box2 p {
    font-size: 17px;
  }

  .project {
    width: 100%;
    height: 400px;
  }

  .contact-box .text {
    font-size: 16px;
  }
}

@media screen and (max-width: 1056px) {
  .contact-box .text {
    font-size: 0.75em;
  }
}
